.adminnavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2 #000;
    margin-bottom: 1px;
    background-color: white;
}

.adminnav-logo{
    width: 200px;

}
.adminnav-profile{
    width: 75px;

}
@media (max-width:800px) {
    .adminnavbar{
        padding: 15px 30px;
    }
    .adminnav-logo{
        width: 150px;
    }
    .adminnav-profile{
        width: 60px;
    }
}